# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.png
!.idea/runConfigurations
/captures

# Configuration files
local.properties

# macOS specific files
.DS_Store

scripts/local
docs/local
